.formucontacto {
    padding: 3%;
    background-color: rgba(72, 27, 145, 0.664);
    color: antiquewhite;
    border-radius: 2%;
    width: fit-content;
    margin:0px auto;
    font-size: 1rem ;

}

.contenedor{
    margin: 3%;
}

.piedepagina{
    margin: 3%;
}