
.product-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

 

.product-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card p:last-child {
  font-weight: bold;
}

.product-card button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card-img-top{
  max-width: 100%;
  max-height: 245px;
  margin: 3% auto;
}