.body {
  background-color: rgb(161, 96, 245); 
  color: #fff; 
} 
.container  {
  color: #34053b; 
} 
.catalogo {
  color: antiquewhite;
  font-weight: 700;

}

.bloque-carro{
  display: flex;
  justify-content: flex-end;
}

.carro{
  align-content: flex-end;
  background-color: rgb(200, 186, 223);
  border-radius: 30%;
}

.card {
  background-color: rgb(161, 96, 245); 
  border-color: #7b1fa2; 
  color: #fff; 
}

.contenedor{
  margin: 3%;
  padding: 3%;
  background-color: rgba(72, 27, 145, 0.664);
  color: antiquewhite;
  border-radius: 2%;
}

.btn-primary {
  background-color: rgb(161, 96, 245); 
  border-color: #9c27b0; 
}

.btn-primary:hover {
  background-color: rgb(161, 96, 245); 
  border-color: #ba68c8; 
}

.btn-primary:focus {
  background-color: rgb(161, 96, 245); 
  border-color: #7b1fa2; 
}

.modal-content {
    margin: 3%;
    padding: 3%;
    background-color: rgba(72, 27, 145, 0.664);
    color: antiquewhite;
    border-radius: 2%;
}

.modal-header {
  border-color: #fff; 
}

.modal-footer {
  border-color: #fff; 
}

.form-control {
  background-color: rgb(161, 96, 245); 
  border-color: #9c27b0; 
  color: #fff;
}

.form-control::placeholder {
  color: #f3e5f5; 
}


.cart-icon {
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px; 

}