body {
  background-color: rgb(161, 96, 245); 
  color: #fff; 
}
.container  {
  color: #34053b; 
}
.catalogo {
  color:#c18ed7;
}

.card {
  background-color: rgb(161, 96, 245); 
  border-color: #7b1fa2; 
  color: #fff; 
}

.btn-primary {
  background-color: rgb(161, 96, 245); 
  border-color: #9c27b0; 
}

.btn-primary:hover {
  background-color: rgb(161, 96, 245); 
  border-color: #ba68c8; 
}

.btn-primary:focus {
  background-color: rgb(161, 96, 245); 
  border-color: #7b1fa2; 
}

.modal-content {
  background-color: rgb(161, 96, 245); 
  color: #fff; 
}

.modal-header {
  border-color: #fff; 
}

.modal-footer {
  border-color: #fff; 
}

.form-control {
  background-color: rgb(161, 96, 245); 
  border-color: #9c27b0; 
  color: #fff;
}

.form-control::placeholder {
  color: #f3e5f5; 
}


.cart-icon {
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px; 

}