
.app {
    display: flex;
    min-height: 100%;
}



/*XQ NO TOMA EL ESTILO???*/
.footer {
    
    text-align:left;
    padding-top: 3rem ;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;

}

.page {
    font-size: 5rem;
    text-align: center;
}


html, body, #root {
    height: auto;
    margin: 0;
    font-family: 'Borel', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-weight:bold;
    font-size: 16px;
    -webkit-font-smoothing:antialiased;
    

}
