
html, body, #root {
    height: 100vh;
    margin: 0;
    

    font-size: 80%;
    -webkit-font-smoothing:antialiased;
    background-image: url("../public/images/fondo.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;

    
} 
